Django
djangorestframework
google-generativeai 
requests
psycopg2-binary
whitenoise
django-cors-headers
python-dotenv
djangorestframework-simplejwt
openai
django-jazzmin
httpx 
asgiref
uvicorn
django-redis
